@import url(https://fonts.googleapis.com/css2?family=Mina&family=Roboto+Mono);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mina', 'Roboto Mono', monospace, sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
}

.header {
    background-color: #00A9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.main {
    padding: 20px;
    background-color: #A0E9FF;
}

.bookCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
    justify-content: center;
    gap: 30px;
}

.card {
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 16px;
}

.book {
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 10px;
    background-image: linear-gradient(225deg , #EB2A5D, #FF6F41, #FFB44B, #FFEB7D);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.book:hover, button[data-action="addBook"]:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.05);
}

.book .title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 100%;
    overflow-wrap: break-word;
}

.book .author {
    font-style: italic;
    letter-spacing: 1px;
}

button[data-action="changeStatus"], button[data-action="delete"] {
    width: 100px;
    height: 20px;
    font-size: 0.7rem;
    margin-bottom: 2px;
}

.book.read {
    background-image: linear-gradient(225deg, #CFFF8D, #A8E890, #749F82, #425F57);
}


.footer {
    background-color: #CDF5FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogBtnCard {
    border: none;
}

button[data-action="addBook"] {
    width: 80px;
    height: 80px;
    padding-top: 2px;
    border-radius: 50%;
    font-size: 3rem;
    background-color: #B1AFFF;
}

dialog {
    margin: auto auto;
    width: 400px;
    height: 450px;
    border-radius: 10px;
}

dialog form {
    height: 100%;
    padding: 0 40px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-color: whitesmoke;
}

form input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 1rem;
}

form input:focus {
    border: none;
    outline: 3px solid #687EFF;
}


form p:nth-child(n + 4){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form p:nth-child(4) label {
    padding-top: 4px;
}

form input[type="checkbox"]{
    width: 20px;
    height: 20px;
    outline: auto;
}

form button {
    width: 100px;
    border-radius: 4px;
}

dialog::backdrop {
    backdrop-filter: blur(2px);
}